<h2>this is the career compenents....</h2>
<h2 style="color: red;">Software developers consider Java as a foundational coding language, and
    <span style="color: cyan;">they use it to develop web-based applications and software for multiple platforms. Though Java is a basic programming language, professionals may learn specific skills to become advanced programmers. Along with coding skills, you may
    need technical abilities and soft skills to work to your full potential</span>.<span style="color:yellow;"> In this article , we examine the top 15 Java developer skills that can help you become successful in this job role.</span>
</h2>



<button class="btn btn-primary m-2" routerLink="permanents">PERMANATENTS</button>
<button class="btn btn-danger" routerLink="constracts">CONSTRACTS</button>
<router-outlet></router-outlet>